body {
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('/static/images/back-colors.png')no-repeat center center fixed;
    background-size: cover;
    direction: rtl;
}

.game-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.sound-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.sound-box {
    background-color: #dadedb; 
    width: 120px;
    height: 120px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.choices-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.choice {
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#message {
    margin-top: 20px;
    font-size: 20px;
    color: green;
    font-weight: bold;
}
